#acc {
    background-color: #FF8040;
    text-align: left;
    margin-top: 50px;
    font-size: xx-large;
    color: #7AE996;

}

#one {
    text-align: center;
    font-style: italic;
    color: #7AE996;
}

#links {
    text-align: left;
    margin-top: 5px;
    font-size: x-large;
}

#user {
    font-size: xx-large;
    color: #7AE996;
}

#userperms {
    font-size: xx-large;
    color: #7AE996;
}

body {
    background-color: #FF8040 ;
    font-size: xx-large;
    text-align: center;
    color: #1EE198;

}
a:link {
    color: #981EE1;
  }
  
  /* visited link */
  a:visited {
    color: #981EE1;
  }
  
  /* mouse over link */
  a:hover {
    color: #981EE1;
  }
  
  /* selected link */
  a:active {
    color: #981EE1;
  }